*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* This is header css section */
header{
    background-image: url(../images/banner3.png);
    background-size: cover;
    height: 105vh;
   
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:216px 230px 156px 1000px ;
    align-items: end;
    gap: 25px;
    text-align: right;
    
}
header .banner-title{
    color: #FFFFFF; 
    font-size: 65px;
    font-weight: 700;

}
header .banner-paragaraph{
    width: 550px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 24px 0 px 24px 0px ;
}
.contact-btn{ 
    width: 160px;
    height: 64px;
    border-radius: 10px;
    border: 0px;
    padding: 20px 25px 20px 26px;
    font-size: 20px;
    color: #005FAC;
    font-weight: 600;
    box-shadow:0px 0px 18px 1px rgb(0, 0, 0);
}

/* main part heigth and widths set */
 main{
        max-width:1200px;
        margin: 0 auto;
        padding:131px ;
}

.banner-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 26px;
}
ul{
    padding-top: 26px;
    padding-left: 0px;
}
li{
    list-style: none;
    
}
li:not(:last-child){
    margin-bottom: 15px;
}
li::before{
    font-weight: bold;
    content:" \2713 ";
    padding-right: 8px;
    color:#16D887;
}
.person-details{
    display: flex;
    justify-content: space-between;
    gap: 87px;
    align-items: center;
}
.section-details{
    padding-left:87px ;
    color: #444343;
}

/* my-plans */

.my-plans{
    margin-top: 130px;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    
}
.my-plans-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #151414;
}
.my-plans-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.plan-img{
    height: 93px;
    width: 93px;
}
.plan{
    padding-top:50px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px ;
}
.plan-title{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}
.plan-details{
    text-align: center;
    padding-right: 0px;
    font-family: 'Work Sans';
    width: 200px;
    font-weight: 400;
    font-size: 25px;
}

/* bonus-part */
.my-plans-details-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.plan-details-2{
    font-size: 15px;
    font-weight: normal;
}
.programming-hero{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    border: 0px;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 50px 80px 30px ;
    margin-top: 80px;
    background-color: #cbf8e57e;
    box-shadow: 2px 1px 14px 2px rgb(110, 110, 110);
    border-radius: 10px;
}
.bohubrihi{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    border: 0px;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 50px 80px 30px ;
    margin-top: 80px;
    background-color: #f3a2ef5b;
    box-shadow: 2px 1px 14px 2px rgb(110, 110, 110);
    border-radius: 10px;
}
.creative-it{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    border: 0px;
    justify-content: space-between;
    gap: 30px;
    padding: 80px 50px 80px 30px ;
    margin-top: 80px;
    background-color: #dcc6f58c;
    box-shadow:  2px 1px 14px 2px rgb(110, 110, 110);
    border-radius: 10px;
}